{% extends "base.html.twig" %}
{% block body %}
{{ parent() }}
 <section class="vh-100">
  <div class="container-fluid h-custom">
  <h2 class="text-center">LOGIN</h2>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            {{form(form)}}
            <a href="{{path('registerPath')}}" class="btn btn-primary m-1">create account</a>
    </div>
    
    </div>
    </div>
</section>
{% endblock %}